data.tar.xz
src/esnuelML/models.tar.xz
data/QMdata4ML
data/benchmark
data/hydrolysis
data/uncertaintyEstimates
.DS_Store
data/.DS_Store
src/esnuelML/DescriptorCreator/__pycache__/
src/esnuelML/__pycache__/
src/esnuelML/models
#desc_calcs/
dep/
